/* Hero.css */

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-left: 150px;
  }
  
  .hero-image-container {
    width: 13rem; /* 52px * 4 = 13rem */
    height: 13rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-text-container {
    font-size: 80px;
    font-weight: 500;
  }
  
  .hero-text-container p {
    margin: 0;
  }
  